HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

###custom###
db_dev.mv.db
db_dev.trace.db
!/images/Brazil_Serra_Do_Caparaó-image.png
!/images/Columbia_Nariño-image.png
!/images/Columbia_Quindío-image.png
!/images/Ethiopia_Sidamo-image.png
/images/**